@model IEnumerable<Domain.Model.Review>

@{
    ViewBag.Title = "NotAcceptedReviews";
}

<h2>Reviews to accept</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayName("Game")
        </th>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayName("Published date")
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>


                <td>
                    @Html.ActionLink("Accept", "Accept", new { id = item.Id })
                </td>
            </tr>
        
    }

</table>
